* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: hsl(175, 82%, 13%);
}
.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.form-container {
  margin-bottom: 3rem;
}
.form-container,
.display-container {
  display: flex;
  background: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 6px 6px 6px 0 hsla(174, 88%, 7%, 0.836);
  width: 100%;
}
.display-container {
  height: 60vh;
}
.control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
h2 {
  margin-bottom: 10px;
}
input {
  margin: 10px 0;
}
